{% extends 'core/base_user_forms.html' %}

{% block content %}
	<div class="main_container">

        <h1>Dodaj adres: </h1>



     <div class="main_form_box">
                <form method="post">
                    {% csrf_token %}
                    <div class="form_box">
                        <label for="{{ form.city.id_for_label }}">Nazwa kategorii:</label><br>
                        {{ form.city }}
                    </div>
                    <div class="form_box">
                        <label for="{{ form.street_address.id_for_label }}">Ulica i numer domu:</label><br>
                        {{ form.street_address }}
                    </div>
                    <div class="form_box">
                        <label for="{{ form.zip_code.id_for_label }}">Kod pocztowy:</label><br>
                        {{ form.zip_code }}
                    </div>

                   <div class="submit_button">
                    <button type="submit">Dodaj adres</button>


                    </div>

                </form>
            </div>
         </div>
    {% if user_form.errors or customer_form.errors %}
        <div class="error_box">
            <p>Please correct the errors below:</p>
            {{ user_form.errors }}
            {{ customer_form.errors }}
        </div>
    {% endif %}
{% endblock %}
