
:root {
    --primary-color: #ff9f43;   /* Cat Orange */
    --secondary-color: #576574; /* Dark Grey */
    --navbar-color: #465a63;
    --background-color: #ededd1;
    --main-boc-color: #cad9e0;
    --nav-button-color: #ffffff;
    --button-color:#ff9f43;
    --hover-button-color:#d68336;
    --product-hover-color:#575974

}


.main_container h1{
    padding: 20px;
    height: 70px;
    color: #ffffff;
    margin: 20px 20px 0px;
    border-radius: 20px;
    background-color: var(--primary-color);
}
.cart_info_section{
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 1000px;
}
.item_section{
    width: 70%;
    overflow: scroll;
    margin: 20px;
    padding: 10px;

}
.item_card{
    height: 120px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
.item_miniature{
    display: flex;
    align-content: center;
    justify-content: left;
    margin-left: 2%;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
}

.item_miniature img{
    width: 100%;
    height: 100%;
}
.product_info{
    background-color:var(--background-color);
    padding: 20px;
    width: 80%;
    margin-left: 10px;
    border-radius: 10px;
}
.item_update_button{
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
}
.item_update_button button{
    margin-left: 5px;
    padding: 0px 2px;
}
.item_update_button input{
    width:150px
}
.item_update_button button:hover{
    cursor: pointer;
}
.cart_user_section{
    width: 30%;
    min-height: 600px;
    margin:20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
}
.user_information{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 20%;
    padding: 20px;
    color: #ffffff;
    border-bottom:3px #ffffff dotted;

}
.user_information p{
    text-indent: 10px;
    margin-bottom: 10px;
}
.address_form_box{
    padding: 20px;
    color: #ffffff;
    height: 80%;
}
.checkout_section{
    width: 100%;
    min-height: 200px;
    color: #ffffff;
    background-color: var(--primary-color);
}
