
:root {
    --primary-color: #ff9f43;   /* Cat Orange */
    --secondary-color: #576574; /* Dark Grey */
    --navbar-color: #465a63;
    --background-color: #ededd1;
    --main-boc-color: #cad9e0;
    --nav-button-color: #ffffff;
    --button-color:#ff9f43;
    --hover-button-color:#d68336;
    --product-hover-color:#575974

}


.main_container h1{
    padding: 20px;
    height: 70px;
    color: #ffffff;
    margin: 20px 20px 0px;
    border-radius: 20px;
    background-color: var(--primary-color);
}
.order_info_section{
    width: 90%;
    min-height: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.order_section{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 700px;
}
.order_items{
    margin-left:10%;
    width: 90%;
    margin-bottom: 50px;
    margin-top: 10px;
    background-color: pink;
    overflow: scroll;
    border-radius: 10px;
    padding: 10px;
}

.order_info{
    background-color:var(--background-color);
    padding: 20px;
    width: 80%;
    margin-left: 10px;
    border-radius: 10px;
}


